<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <title>算价格</title>
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <style>
		*{
			margin: 0;
			padding: 0;
		}

		#app{
      box-sizing: border-box;
			width: 100%;
			height: 100%;
			padding: 10%;
		}

		.ipt{
			width: 50%;
      margin-top: 20px;
		}

		.hd{
			margin-top: 20px;
			margin-bottom: 20px;
		}
    .jg{
      margin-top: 10px;
    }
  </style>
</head>
<body>
<div id="app">
  <div>
    <div>
      请输入商品价格:
    </div>
    <el-input class="ipt" v-model="input" placeholder="请输入内容"></el-input>
  </div>
  <div class="hd">
    可选活动
  </div>
  <el-checkbox-group v-model="checkList">
    <div class="jg">
      <el-checkbox label="前一小时下单减1618"></el-checkbox>
    </div>
    <div class="jg">
      <el-checkbox label="每满200减30(85)折"></el-checkbox>
    </div>
    <div class="jg">
      <el-checkbox label="每满1万减518(9482折)"></el-checkbox>
    </div>
    <div class="jg">
      <el-checkbox label="0点红包雨618"></el-checkbox>
    </div>
    <div class="jg">
      <el-checkbox label="门店下单减200"></el-checkbox>
    </div>
  </el-checkbox-group>
  <div class="hd">
    <el-button @click="fn" type="primary">生成最终价格</el-button>
  </div>

  <div class="hd">
    最终价格:{{ price }}
  </div>
</div>


</body>
<script src="./vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    let app = new Vue({
        el: '#app',
        data: {
            input: 0,
            checkList: [],
            price: ""
        },
        methods: {
            fn() {
                let num = this.input;
                this.checkList.forEach(item => {
                    if(item === "前一小时下单减1618") {
                        num = num - 1618
                    } else if(item === "每满200减30(85)折") {
                        num = num * 85 / 100
                    } else if(item === "每满1万减518(9482折)") {
                        num = num * 9482 / 10000
                    } else if(item === "0点红包雨618") {
                        num = num - 618
                    } else if(item === "门店下单减200") {
                        num = num - 200
                    }
                })
                this.price = num
            }
        }
    })
</script>
</html>
